@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Damion&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rochester&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Petit+Formal+Script&display=swap');

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$primary: #849c8e;
$primary-dark: #72887b;
$red: #e15b64;

$f_title: 'Petit Formal Script';